{% extends "base.html" %}
{% block content %}
<section class="vh-100 bg-light">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="alert alert-success text-center" role="alert">
                    <h4 class="alert-heading">Check Your Email</h4>
                    <p>We've sent you a link to reset your password.</p>
                    <hr>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
