{% extends "base.html" %}
{% block content %}
<section class="vh-100 bg-light">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card shadow-2-strong">
                    <div class="card-body p-5">
                        <h3 class="mb-4 text-center">Reset Your Password</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">
                                Send Reset Link
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
