{% extends 'base.html' %}
{% block content %}
<style>
.category-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
</style>
<main class="">
    <div class="container m-auto mt-5 row gap-2 justify-content-center">
    {% for category in categories %}
        <div class="card col-3 p-0">
            <img
                class="card-img-top img-fluid category-image"
                src="{{ category.image.url }}"
                alt="{{ category.name }}"
            />

            <div class="card-body">
                <h3>
                    <a class="text-decoration-none" href="{% url 'category_detail' category.id %}"
                        >{{ category.name }}</a
                    >
                </h3>
                <p class="card-text">
                    {{ category.description }}
                </p>
                <div class="d-flex flex-column gap-2"></div>
            </div>
        </div>
    {% endfor %}
    </div>

    	{% include 'components/_pagination.html' with custom_range=custom_range page_obj=page_obj %}

</main>
{% endblock content %}
